.App {
  text-align: center;
}

body {
  /*font-family: 'Gilroy-Regular', sans-serif;*/
}

.App-header {
  background-color: #282c34;
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu {
  display: grid;
  background-color: orange;
  /*grid-template-columns: auto auto auto auto auto auto auto auto;*/
  grid-template-columns: auto auto auto auto auto auto auto;

  position: fixed;
  height: 5vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.menu-input {
  position: fixed;
  height: 5vh;
  width: 100%;
  top: 5vh;
  left: 0;
  right: 0;
}

/*.menu*/ .item {
  font-size: 22px;
  font-weight: bolder;

  /*background-color: orange;*/
  /*color: white;*/
  background-color: orange;
  color: blueviolet;

  margin: 0;
}

/*.menu */.item.chosen {
  background-color: blueviolet;
  color: white;
}

.new-project {
  width: 220px;
  height: 40px;
}

/*svg {*/
/*  width:15px;*/
/*  height:15px;*/
/*  stroke-width:10;*/
/*  stroke:red;*/
/*  fill:transparent;*/
/*}*/

.required-users {
  color: white;
}

.chat-container {
  position: fixed;
  right: 15px;
  width: 250px;
  height: 375px;
  bottom: 15px;

  background-color: white;
  color: black;
}

.App-header h1 {
  padding: 0;
}

.App-link {
  color: #61dafb;
}


.background-standard {
  background-color: #2196F3;
  color: #282c34;
  padding: 10px;
}

.scrollable-goal-wrapper{
  height: 70vh;
  overflow-y: scroll;
}
.scrollable-goal-wrapper.small {
  height: 55vh;
}

.editable:hover {
  /*background-color: purple;*/
  /*background-color: #80008017;*/
  background-color: rgba(128, 0, 128, 0.32);
}
/*.editable*/.wavy {
  text-decoration: underline dotted;
}
.editable {
  white-space: pre-line
}

button.primary {
  height: 50px;
  min-width: 175px;
  background-color: violet;
  border-color: violet;
  color: white;
  font-size: 32px;
  border-radius: 10px;
}

a button.primary {
  color: white;
}

button a:link { text-decoration: none; }
button a:visited { text-decoration: none; }
button a:hover { text-decoration: none; }
button a:active { text-decoration: none; }

.color1 {
  color: orange;
}
.color2 {
  color: violet;
}

.Container {
  display: grid;

  background-color: #2196F3;
  color: #282c34;
}

.Audience-Container {
  display: grid;

  /*column-gap: 10px;*/
  /*row-gap: 10px;*/
  /*padding: 10px;*/
  grid-template-columns: repeat(5, minmax(0, 1fr));

  background-color: #2196F3;
  color: #282c34;
}

.Iteration-Grid {
  display: grid;

  row-gap: 15px;
  /*gap: 15px;*/
  /*grid-template-columns: repeat(4, minmax(0, 1fr));*/
  grid-template-columns: repeat(4, minmax(0, 1fr) 35px);

  background-color: #2196F3;
  color: #282c34;
}

.Channel-item {
  display: block;

  column-gap: 50px;
  row-gap: 50px;
  /*grid-template-columns: auto auto auto;*/
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-color: #2196F3;
  padding: 10px;
  color: #282c34;
}
.Risk-item {
  flex-direction: row;
  text-align: left;
}
.Audience-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /*padding: 20px;*/
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.Audience-item .field-picker {
  width: 225px;
  min-height: 80px;
}

.error {
  color: red;
}

/*.Audience-item*/.dragging {
  border-color: rgb(255, 0, 0);
  border-width: 5px;
}
/*.Audience-item*/.dragging-target {
  background-color: red;
}

.link-select {
  width: 65px;
}
.Container.links {
  grid-template-columns: 50px auto 65px 35px;
}
.edit-iteration {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  left: 0;
  background-color: #282c34;
  right: 0;
  top: 0;
  bottom: 0;

  display: grid;
  grid-template-columns: 10% auto 10%;
}
.iteration-container {
  padding-left: 20%;
  padding-right: 20%;
  background-color: red;
}
.iteration-goal-icon {
  width: 15px;
  display: inline-block;
}
.iteration-solve {
  position: absolute;
  top: 15px;
  left: 15px;
}
.iteration-secondary-text {
  color: gray;
  font-size: 20px
}
.iteration-title {
  /*min-height: 60px;*/
  height: 72px;
  font-weight: bold;
  overflow: hidden;
  /*overflow-y: hidden;*/
  /*text-overflow: ellipsis;*/
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/
  /*height: 1.2em;*/
  /*width: 250px;*/
  /*font-weight: bold;*/
  /*white-space: nowrap;*/
}
.iteration-estimate {
  font-size: 0.8em;
  margin-bottom: 8px;
}

.iteration-audiences {
  margin-left: 25px;
  margin-bottom: 15px;
}
.iterations-audiences-tab {
  height: 300px;
  overflow-y: scroll;
}

.income-goal {
  /*color: orange;*/
  color: green;
  font-weight: 900
}

.audience-title {
  min-height: 150px;
}

.Monetization-plan-description {
  min-height: 200px;
  color: green;
}

.Monetization-plan-benefits {
  min-height: 400px;
  /*color: orange*/
}

.project-link {
  color: white;
}

#ITERATIONS.Audience-Container {
  grid-template-columns: auto auto auto;
}

.feature-tab {
  max-width: 450px;
}

.feature {
  color: white;
}

.feature.solved {
  text-decoration: line-through;
  text-decoration-color: red;
  color: gold;
}
.feature.used {
  color: gray;
}
.feature.needsEstimates {
  color: red;
}
.feature.nearest {
  color: green;
}

.need-help {
  width: 320px;
  margin: auto;
}

.Panel {
  /*margin-top: 25px;*/
  /*padding-top: 25px;*/
  padding-top: 1px;
  background-color: palevioletred;
  margin-bottom: 8px;
  margin-top: 8px;

  padding-left: 15px;
  padding-right: 15px;
}

.paddings {
  padding-left: 15px;
  padding-right: 15px;
}

.list {

}
.limited {
  height: 350px;
  overflow-y: scroll;
}

.panel-instructions {
  background-color: blueviolet;
  padding: 1px;
  margin-bottom: 8px;
  margin-top: -11px;
}

.text-secondary {
  /*color: lightgray;*/
}

button.toggle.chosen {
  background-color: yellow;
}
button.toggle {
  background-color: white;
}

.left {
  text-align: left;
}

.audience-description {
  font-size: 0.7em;
  color: gray;
}

.field-picker {
  /*min-width: 150px;*/
  width: 450px;
  min-height: 250px;
}

.vision-submenu {

}

.vision-submenu.chosen{
  background-color: yellow;
}

textarea.monetisation {
  max-width: 100%;
}

.help{
  background-color: violet;
  color: white;
}

/*no arrow in details*/
details > summary {
  list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

@media (max-width: 420px) {
  .Audience-Container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .Iteration-Grid {
    grid-template-columns: repeat(1, minmax(0, 1fr) 35px);
    /*grid-template-rows: repeat(1, minmax(0, 1fr) 25px);*/
    row-gap: 25px;
  }

  .field-picker {
    width: 225px;
    min-height: 150px;
  }

  .menu {
    /*grid-template-columns: repeat(3, minmax(0, 1fr));*/
    /*height: 75px;*/
    grid-template-columns: repeat(7, minmax(0, 1fr));
    height: 45px;
    bottom: 0;
    top: calc(100vh - 45px)
  }

  /*.menu*/ .item {
    font-size: 12px;
  }

  .Container.links {
    grid-template-columns: 50px 200px 65px 35px;
  }

  #ITERATIONS.Audience-Container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  /*.Panel {*/
  /*  margin-top: 75px;*/
  /*}*/
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
