.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /*padding-top: 20px;*/
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  padding: 0;
}

.App-link {
  color: #61dafb;
}


.background-standard {
  background-color: #2196F3;
  color: #282c34;
  padding: 10px;
}

.scrollable-goal-wrapper{
  height: 70vh;
  overflow-y: scroll;
}

.editable:hover {
  /*background-color: purple;*/
  /*background-color: #80008017;*/
  background-color: rgba(128, 0, 128, 0.32);
}

.Container {
  display: grid;

  column-gap: 50px;
  row-gap: 50px;
  /*grid-template-columns: auto auto auto auto auto auto;*/
  padding: 10px;
  background-color: #2196F3;
  color: #282c34;
}
.Audience-Container {
  display: grid;

  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: auto auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  color: #282c34;
}
.Channel-item {
  display: block;

  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  color: #282c34;
}
.Risk-item {
  flex-direction: row;
  text-align: left;
}
.Audience-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.editIteration {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  left: 0;
  background-color: #282c34;
  right: 0;
  top: 0;
  bottom: 0;

  display: grid;
  grid-template-columns: 20% auto 20%;
}
.iteration-container {
  padding-left: 20%;
  padding-right: 20%;
  background-color: red;
}
.iteration-title {
  min-height: 60px;
}

.income-goal {
  /*color: orange;*/
  color: green;
  font-weight: 900
}

.audience-title {
  min-height: 150px;
}

.Monetization-plan-description {
  min-height: 200px;
  color: green;
}

.Monetization-plan-benefits {
  min-height: 400px;
  /*color: orange*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
